<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Font_Awesome_5_solid_shopping-cart.svg/1200px-Font_Awesome_5_solid_shopping-cart.svg.png" alt="Logo" style="width: 30px;" class="d-inline-block align-text-top">
        <span style="font-family: Luminari, fantasy;"> Spurious Mart</span>
      </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <img src="https://www.svgrepo.com/show/13696/house.svg" style="width: 20px;" alt="">
              Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="https://icons.veryicon.com/png/o/miscellaneous/fu-jia-intranet/product-29.png" style="width: 20px;" alt="">
              Products</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://cdn-icons-png.freepik.com/256/992/992692.png" style="width: 20px;" alt="">
              Login
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Sign up</a></li>
              <li><a class="dropdown-item" href="#">Sign in</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Query</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">
              <img src="https://static.thenounproject.com/png/2587327-200.png" style="width: 20px;" alt="">
              Contact Us</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
