<div class="container">
  <div class="row mt-4">
      <!-- <span class="fast-flicker" style="font-size: 50px;text-align: center; font-weight: bold;">Trending</span> -->
      <h1 style="text-align: center; font-size: 60px; color: white; font-weight: bold;">Trending</h1>
  </div>
  <div class="row mt-4">
    @for (item of data; track $index) {  
        <div class="col-12 col-sm-6 col-md-3 mt-5">
          <div class="card round" style="width: 100%; height: 40rem;">
            <img src={{item.image}} alt="..." class="round">
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text" style="font-size: small;">{{item.description | slice : 0 : 150}}...</p>
              <a routerLink="{{item.id}}" class="btn button-57"><span class="text">${{item.price}}</span><span>Buy</span></a>
            </div>
          </div>
        </div>
    }

  </div>
</div>