<div class="container">
  <div class="row mt-4">
    <h1 class="text-center">Spurious Store</h1><hr> 
  </div>
  <div class="row mt-4">
    @for (item of data; track $index) {  
        <div class="col-12 col-sm-6 col-md-3 mt-5">
          <div class="card round" style="width: 100%; height: 40rem;">
            <img src={{item.image}} alt="..." class="round">
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text" style="font-size: small;">{{item.description | slice : 0 : 150}}...</p>
              <a href="#" class="btn button-57"><span class="text">${{item.price}}</span><span>Buy</span></a>
            </div>
          </div>
        </div>
    }

  </div>
</div>
